<div ng-controller="HeatmapWidgetCtrl as widget">

  <div class="spinner" ng-show="widget.isLoading"></div>

  <div class="class" ng-show="widget.errors.length > 0">
    <h3>Errors</h3>
    <ul>
      <li ng-repeat="error in widget.errors">{{error}}</li>
    </ul>
  </div>

  <table>
    <tr ng-repeat="row in widget.viewData">

      <td class="cell">{{widget.getXAxisLabel($index)}}</td>

      <td class="cell" ng-repeat="val in row track by $index"
          style="background-color: {{widget.colorize(val)}};">
      </td>

    </tr>

    <tr>
      <td class="cell"></td>
      <td class="cell" ng-repeat="label in widget.getYAxisLabels()">{{label}}</td>
    </tr>
  </table>


</div>
