<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>


  <link rel="stylesheet" href="styles/main.css">
  <!-- bower:css -->
  <!-- endbower -->
</head>
<body>

<div ng-app="heatmapApp">

  <div ng-controller="MainCtrl as main">

    <h1>Standard data</h1>
    <heatmap-widget axis-x="dowId" axis-y="hourId" object-name="Site Incident Heat Severity Map (lv12)"
                    indexName="alternative" url="{{main.heatData}}"></heatmap-widget>

    <h1>Modified data</h1>

    <div>
      <div style="float: left;">
        Main indexes
        <heatmap-widget axis-x="dowId" axis-y="hourId" object-name="Site Incident Heat Severity Map (lv12)"
                        indexName="main" url="{{main.heatDataModified}}"></heatmap-widget>
      </div>
      <div style="float: right;">
        Alternative indexes
        <heatmap-widget axis-x="hourId" axis-y="dowId" object-name="Site Incident Heat Severity Map (lv12)"
                        indexName="alternative" url="{{main.heatDataModified}}"></heatmap-widget>
      </div>

      <div style="clear: both;"></div>
    </div>


    <h1>Error data</h1>
    <heatmap-widget axis-x="dowId" axis-y="hourId" object-name="Site Incident Heat Severity Map (lv12)"
                    indexName="main" url="{{main.heatDataError}}"></heatmap-widget>

    <h1>Not found requested url</h1>
    <heatmap-widget axis-x="dowId" axis-y="hourId" object-name="Site Incident Heat Severity Map (lv12)"
                    indexName="main" url="{{main.notFoundUrl}}"></heatmap-widget>
  </div>

</div>

<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<!-- endbower -->

<script src="/scripts/app.js"></script>
<!--controllers-->
<script src="/scripts/controllers/main.js"></script>
<script src="/scripts/controllers/heatmapWidget.js"></script>
<!--services-->
<script src="/scripts/services/communicator.js"></script>
<script src="/scripts/services/helper.js"></script>
<!--constants-->
<script src="/scripts/constants/urls.js"></script>
<script src="/scripts/constants/settings.js"></script>
<!--directives-->
<script src="/scripts/directive/heatmapWidget.js"></script>

</body>
</html>
